li{
    margin-bottom: 10px;
    padding: 7px;
}
.f{
    background-color: rgb(159, 253, 159);
}
.m{
    background-color: rgb(211, 236, 152);
}
.d{
    background-color: rgb(233, 187, 37);
}
.x{
    background-color: rgb(255, 103, 103);
}